html {
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    box-sizing: border-box;


}

header {
    width: 100vw;
    height: 5vh;
    background-color: #212121;
    display: flex
}

.left-header {
    width: 30%;
    box-sizing: border-box;
}

.right-header {
    flex: 1;
    border-left: 1px solid #343434;
}

.root {
    width: 100vw;
    height: 95vh;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    background-color: #212121;

}

.create-channel {
    box-sizing: border-box;
    width: 100%;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 100%;

}

input {
    background-color: #181818;
    width: 90%;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    padding: 10px;
    color: #fff;
    padding-left: 30px;

}

#createChannel {
    width: 80%;
    padding: 3px 10px;
    padding-left: 30px;

}

.channel-list {
    overflow: auto;
    height: 100%;
}

.channel {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    background-color: #212121;
    cursor: pointer;
    color: #fff;
    padding: 10px 10px 10px 30px;
}

.channel-upper {
    display: flex;
    justify-content: space-between;
}

.channel-time {
    font-size: 0.7rem;
    color: rgb(216, 216, 216)
}

.right {
    border-left: 1px solid #343434;
    flex: 1;
    height: 100%;
    background-color: #6F6567;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 0 30px;
    box-sizing: border-box;
}

.chat-display {
    flex: 1;
    overflow: auto;
}

.message-wrapper {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

.message-wrapper.send {
    justify-content: flex-end;
}

.message-content {
    background-color: #343434;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 0;
}

.message-content.send {
    border-radius: 10px 10px 0px 10px;
}

.message-time {
    font-size: 0.5rem;
    margin: 2px 0 2px 0;
    text-align: right;
    align-self: flex-end;
}


.chat-input {

    background: #6F6567;
    display: flex;
    justify-content: center;
    padding: 10px 0;


}

#chatInput {
    font-size: 1rem;
}